<div class="card mb-3">
  <div class="card-header">
    Task Details
  </div>
  <div class="card-body" *ngIf="currentTask.ID !== ''">
    <nav aria-label="...">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link" [routerLink]="['./']">BasicInfo</a></li>
        <li class="page-item" *ngFor="let interaction of currentTask.Interactions, let i = index">
          <a class="page-link" [routerLink]="['./', interaction.CurrentStep, i ]">{{interaction.CurrentStep}}</a>
        </li>
      </ul>
    </nav>
    <div class="form-group mb-3">
      <div class="row">
        <div class="col-3">
          <label for="taskIdBox">Task ID:</label>
          <input type="text" class="form-control" id="taskIdBox" readonly aria-describedby="Task ID" value="{{currentTask.ID}}">
        </div>
        <div class="col-9">
          <label for="taskTitleBox">Task Title:</label>
          <input type="text" class="form-control" id="taskTitleBox" readonly aria-describedby="Task Title" value="{{currentTask.Title}}">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="descriptionBox">Description:</label>
          <textarea type="text" class="form-control" id="descriptionBox" readonly aria-describedby="Description" value="{{currentTask.Description}}"></textarea>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="card-body" *ngIf="currentTask.ID === ''">
    <nav aria-label="...">
    </nav>
    <div class="form-group mb-3">
      <div class="row">
        <div class="col-3">
          <label for="taskIdBox">Task ID:</label>
          <input type="text" class="form-control" readonly aria-describedby="Task ID">
        </div>
        <div class="col-9">
          <label for="taskTitleBox">Task Title:</label>
          <input type="text" class="form-control" readonly aria-describedby="Task Title">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="descriptionBox">Description:</label>
          <textarea type="text" class="form-control" readonly aria-describedby="Description"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
