<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home/welcome']">
      <img src="../../assets/Icons/Logo/siemens-mail.png" width="245" height="33" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsible">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-nav"><a [routerLink]="['./dashboard']" class="nav-link">Dashboard</a></li>
        <li class="navbar-nav"><a [routerLink]="['./history']" class="nav-link">History</a></li>
        <li class="navbar-nav"><a [routerLink]="['./']" class="nav-link">Analysis</a></li>
      </ul>
    </div>
  </div>
</nav>



