<div class="form-group mb-3">
  <div class="row">
    <div class="col">
      <label for="handleByBox">Handle By:</label>
      <input type="text" class="form-control" id="handleByBox" readonly aria-describedby="Handle By">
    </div>
    <div class="col">
      <label for="submitOnBox">Submit On:</label>
      <input type="datetime-local" class="form-control" id="submitOnBox" readonly aria-describedby="Submit On">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="resultBox">Check Result:</label>
      <textarea type="text" class="form-control" id="resultBox" readonly aria-describedby="Check Result"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="suggestionBox">Suggestion:</label>
      <textarea type="text" class="form-control" id="suggestionBox" readonly aria-describedby="Suggestion"></textarea>
    </div>
  </div>
</div>
