<div class="form-group mb-3">
  <div class="row">
    <div class="col">
      <label for="createOnBox">Create On:</label>
      <input type="datetime-local" class="form-control" id="createOnBox" readonly aria-describedby="Create On">
    </div>
    <div class="col">
      <label for="createByBox">Create By:</label>
      <input type="text" class="form-control" id="createByBox" readonly aria-describedby="Create By">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="priorityBox">Priority:</label>
      <input type="text" class="form-control" id="priorityBox" readonly aria-describedby="Priority">
    </div>
    <div class="col">
      <label for="assignToBox">Assign To:</label>
      <input type="text" class="form-control" id="assignToBox" readonly aria-describedby="Assign To">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="deviceIDBox">Device ID:</label>
      <input type="text" class="form-control" id="deviceIDBox" readonly aria-describedby="Device ID">
    </div>
    <div class="col">
      <label for="versionBox">Version:</label>
      <input type="text" class="form-control" id="versionBox" readonly aria-describedby="Version">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="startTimeBox">Fault Start Time:</label>
      <input type="datetime-local" class="form-control" id="startTimeBox" readonly aria-describedby="Fault Start Time">
    </div>
    <div class="col">
      <label for="endTimeBox">Fault End Time:</label>
      <input type="datetime-local" class="form-control" id="endTimeBox" readonly aria-describedby="Fault End Time">
    </div>
  </div>
</div>
