<div class="task-container container">
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          History Statistic
        </div>
        <div class="card-body" >
          <div class="row">
            <div class="col ">
              <h5 class="card-title">Tasks by Priority</h5>
              <div echarts [options]="priorityOptions" class="echart"></div>
            </div>
            <div class="col">
              <h5 class="card-title">Tasks by Time</h5>
              <div echarts [options]="timeOptions" class="echart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          History Tasks
        </div>
        <div class="card-body">
          <table class="table table-sm table-hover">
            <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of myHistoryTasks | async" (click)="onClick(task)" [routerLink]="['./']">
              <th scope="row">{{task.ID}}</th>
              <td>{{task.Title}}</td>
              <td>{{task.Priority}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <app-task-details [currentTask]="selectedTask" ></app-task-details>
    </div>
  </div>

</div>
