<div class="container">
  <div class="row">
    <div class="mx-auto card mb-3 col-md-5">
      <div class="card-body">
        <img src="../../assets/Icons/Logo/siemens-mail.png" width="245" height="33" alt="">
        <p></p>
        <p></p>
        <h5 class="card-title">Siemens Auto Maintance</h5>
        <p>Please sign in at first.</p>
        <form [formGroup]="formModel" >
          <div class="form-group">
            <input formControlName="email" type="text" class="form-control" id="email-text" placeholder="Email" >
          </div>
          <div class="form-group">
            <input formControlName="password" type="password" class="form-control" id="password-text" placeholder="Password" >
          </div>
          <span class="text-danger" id="wariningLabel" [hidden]="isValid">The e-mail or password is invalid.</span>
          <div class="form-group">
            <div [hidden]="true" class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block" [routerLink]="['/home']">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>
