<div class="task-container container">
  <div class="row">
    <div class="col-sm">
      <div class="card mb-3">
        <div class="card-header">
          Tasks Assigned to Me
        </div>
        <div class="card-body">
          <table class="table table-sm table-hover">
            <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of myHandleTasks | async" (click)="onClick(task)">
              <th scope="row">{{task.ID}}</th>
              <td>{{task.Title}}</td>
              <td>{{task.Priority}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          Tasks Submitted by Me
          <button class="btn btn-success float-right" type="button" >New</button>
        </div>
        <div class="card-body">
          <table class="table table-sm table-hover">
            <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of mySubmitTasks | async" (click)="onClick(task)" >
              <th scope="row">{{task.ID}}</th>
              <td>{{task.Title}}</td>
              <td>{{task.Priority}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <app-task-details></app-task-details>
    </div>
  </div>
</div>
