<div class="form-group mb-3">
  <div class="row">
    <div class="col">
      <label for="handleByBox">Handle By:</label>
      <input type="text" class="form-control" id="handleByBox" readonly aria-describedby="Handle By">
    </div>
    <div class="col">
      <label for="submitOnBox">Submit On:</label>
      <input type="datetime-local" class="form-control" id="submitOnBox" readonly aria-describedby="Submit On">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="rootCauseBox">Root Cause:</label>
      <textarea type="text" class="form-control" id="rootCauseBox" readonly aria-describedby="Root Cause"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="implementationBox">Implementation:</label>
      <textarea type="text" class="form-control" id="implementationBox" readonly aria-describedby="Implementation"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="testSuggestionBox">Test Suggestion:</label>
      <textarea type="text" class="form-control" id="testSuggestionBox" readonly aria-describedby="Test Suggestion"></textarea>
    </div>
  </div>
</div>
