<div class="welcome-container">
  <div class="row">
    <div class="col mb-3">
      <div class="card">
        <div class="card-body">
          <p></p>
          <div class="jumbotron">
            <h2 class="card-title">Siemens Maintenance System</h2>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary" [routerLink]="['./']" role="button">Learn more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card mb-3">
        <div class="card-header">
          User Info
        </div>
        <div class="card-body" >
          <div>Name: {{curUser?.Name}}</div>
          <div>Department: {{curUser?.Department}}</div>
          <div>Role: {{curUser?.Role}}</div>
          <div>E-mail: {{curUser?.Email}}</div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          Global Distribution of Defects
        </div>
        <div class="card-body">
          <div echarts [options]="chartOption" class="demo-chart mapChart" ></div>
        </div>
      </div>
    </div>
  </div>
</div>


