<div class="form-group mb-3">
  <div class="row">
    <div class="col">
      <label for="handleByBox">Handle By:</label>
      <input type="text" class="form-control" id="handleByBox" readonly aria-describedby="Handle By"
             value="{{regression.Handler}}">
    </div>
    <div class="col">
      <label for="submitOnBox">Submit On:</label>
      <input type="text" class="form-control" id="submitOnBox" readonly aria-describedby="Submit On"
             value="{{regression.CreateTime}}">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="testReportBox">Test Report:</label>
      <textarea type="text" class="form-control" id="testReportBox" readonly aria-describedby="Test Report"
                value="{{regression.TestReport}}"></textarea>
    </div>
  </div>
</div>
