<div class="form-group mb-3">
  <div class="row">
    <div class="col">
      <label for="handleByBox">Handle By:</label>
      <input type="text" class="form-control" id="handleByBox" readonly aria-describedby="Handle By"
             value="{{evaluate.Handler}}">
    </div>
    <div class="col">
      <label for="submitOnBox">Submit On:</label>
      <input type="text" class="form-control" id="submitOnBox" readonly aria-describedby="Submit On"
             value="{{evaluate.CreateTime}}">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="solutionCommentsBox">Solution Comments:</label>
      <textarea type="text" class="form-control" id="solutionCommentsBox" readonly aria-describedby="Solution Comments"
                value="{{evaluate.SolutionComments}}"></textarea>
    </div>
  </div>
</div>
